
#experiment {
  /****************************************************
   Important!!
   Width and height here need to correspond to the values set in html/setup/constants.js 
   ****************************************************/
  width: 900px;
  height: 700px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: auto;
}

#loader {
  display: flex;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: url('../img/loading.gif') 50% 50% no-repeat #E0E0E0;
}

noscript {
  /* z-index: 8000; */
  position: fixed;
  left: 25%;
  top: 25%;
  width: 50%;
  background-color: white;
  font-size: 18px;
  text-align: center;
}

#no-cookie-container, #reloader-container, #missing-parameter-container {
  /* z-index: 8000; */
  position: fixed;
  left: 12.5%;
  top: 15%;
  width: 75%;
  background-color: white;
  font-size: 18px;
  text-align: center;

}

#loader p {
  font-family: sans-serif;
  font-size: 22px;
  margin: 24%;
  text-align: center;
}

.wrong-message {
	padding: 10px;
}

.wrong-message h1 {
	font-size: 26px;
	font-weight: bold;
	text-align: center;
}

.wrong-message p {
	font-size: 18px;
	text-align: center;
}

#zoom-message #zoom {
	font-size: 22px;
	text-align: center;
  padding: 10px;
}

#dimension-message #windowsize {
	display: block;
    margin: 0 auto;
}





/* custom css for the image filter example */

body{
    width:1150px;
    height:800px;
    margin: 20px auto;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    padding-top: 0.3em ;
    margin-bottom: 1em;
}

li {
  margin: 10px 0;
}

#startButton{
    margin-top: 40px;
}

button{
    height:50px;
}

.Image{
    width: 512px ;
    height: 384px;
}

.ImageExample{
    width: 256px;
    height:197px;
    margin-bottom: 1.5em ;
    float:left;
    position: relative; 
}

figure{
    display: inline-block;
    width: 256px;
}
figure img {
    vertical-align: center;
}
figure figcaption {
    text-align: center;
}

#ExampleBlock{
    display: inline-flex;
    margin: 0px auto;
}

.ScoreImage{
    width: 370px;
    height:203px;
    padding:5px;
    border:1px solid #cccccc;
    margin-bottom: 1em ;
    margin-top:1em;
}

#NextButton{
    position:relative;  
    width:100px;
    height:30px;
    margin: 1em auto ;
    left: -70px ;   /*Dirty, need to fix*/
}

#myProgress {
    width: 1050px;
    background-color: grey;
    align-self: flex-end;
    margin-top: 1em ;
    position: absolute;
}

.ScaleBlock{
    /*margin-left: 0.1em;*/
    display: flex ;
    flex-direction: row ;
    height: 500px;    
    float: left;
    vertical-align: center ;
    position: relative ;
    width = 100%;
}

#myBar {
  width: 0%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}

#MainBlock{
    height: 384px;
    width: 1200px;
    display: flex ;
    flex-wrap: nowrap ;
    flex-direction: column ;
    height: 768px;
    width: 1600px;
    margin-top: 4em ;
}

.ImageBlock{
    float: left;
    margin-right: 3em;
    position:relative;
    display:inline-block;
    text-align:center;
}

#ImageBlockExample{
    float: left;
    margin-right: 2.5em;
    position:relative;
    display:inline-block;
    text-align:center;
}

#InstructionText{
    width: 1050px ;
    margin:auto;
}

#FinalInstructions{
    margin-top: 40px;
}

.radioGroupRecognize label {
    display: inline-block;
    text-align: center;
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.radioGroupRecognize label input[type="radio"] {
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.radioGroupDifficult label {
    display: inline-block;
    text-align: center;
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.radioGroupDifficult label input[type="radio"] {
    margin-left: 0.25em;
    margin-right: 0.25em;
}


#left_label{
    text-align: right;
    padding-right: 0.5em;
}

#right_label{
    text-align: left;
    padding-left: 0.5em;
}

#radio1d{
    margin-right: -0.2em;
    margin-left: 2em;
    
}

#radio9d{
    margin-left: -0.2em;
    margin-right: 2.5em;
    padding-left: 1em;
}

#radio1r{
    margin-right: -0.2em;
    margin-left: 2em;
    
}

#radio9r{
    margin-left: -0.2em;
    margin-right: 2.5em;
    padding-left: 1em;
}

.button-div{
  padding-top: 15px;
  clear: both;
}

span.clear { clear: left; display: block; }



